{% load static %}
<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ToDo App</title>

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
  <link rel="stylesheet" href="{% static 'todo/styles.css' %}" />

 </head>
 <body>
   <!-- Фон -->
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>
  <div class="todo">
    <header>
    <h1 ><a href="/" class="name_todo"> TO DO APP</a></h1>
    <a href="{% url 'todo_new' %}" class="top-menu"><button type="button">Добавить</button></a>
  </header>
  <main>
    {% block content %}
        
    {% endblock %}
  </main>
</div>
</body>
</html>